@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* Ocultar scrollbar en carruseles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
