---

---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<section id="contact" class="relative py-20 ">
  <div class="container mx-auto px-6 md:px-12 lg:px-24">
    <h2 class="text-4xl font-bold text-center text-cyan-400 drop-shadow-[0_0_10px_rgba(34,211,238,0.8)] mb-12">
        Contactame
    </h2>
    <p class="text-center mb-12 text-gray-400">
      ¿Tienes alguna pregunta o quieres trabajar conmigo? ¡Envíame un mensaje!
    </p>
    <div class="flex justify-center gap-8 mt-8">
      <a href="https://mail.google.com/mail/?view=cm&to=garciajhair22@gmail.com&su=Contacto%20desde%20tu%20portafolio&body=Hola%20Jairo,%0A%0AHe%20visto%20tu%20portafolio%20y%20me%20gustaría%20contactarte."
      target="_blank" rel="noopener noreferrer" class="text-red-500 text-4xl hover:scale-110 transition">
        <i class="fa-brands fa-google"></i>
      </a>
      <a href="https://www.linkedin.com/in/jaime-jhair-fernandez-garcia-2005-uni-pre" target="_blank"
        class="text-blue-500 text-4xl hover:scale-110 transition">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://github.com/JaimeDG25" target="_blank"
        class="text-gray-800 dark:text-white text-4xl hover:scale-110 transition">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://wa.me/51982042569?text=Hola%20Jairo,%20vi%20tu%20portafolio%20y%20quiero%20contactarte"
        target="_blank"
        rel="noopener noreferrer"
        class="text-green-500 text-4xl hover:scale-110 transition">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>
  </div>
</section>
