---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="dark" >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"/>
	</head>
	<body class="relative py-0 bg-[#05070f] text-gray-200 ">
		<!-- Fondo global -->
		<div class="absolute -top-30 -left-40 w-[500px] h-[500px] bg-purple-600/20 rounded-full blur-3xl"></div>
		<div class="absolute bottom-40 right-0 w-[400px] h-[400px] bg-cyan-500/10 rounded-full blur-3xl z-10"></div>
		 <!-- FONDO BASE -->
		<div class="fixed inset-0 bg-[#05070f] -z-50"></div>

		<!-- GRADIENTE -->
		<div class="fixed inset-0 bg-gradient-to-br from-[#020617] via-[#0b0f2e] to-[#05070f] -z-40"></div>

		<!-- GLOWS / FOCOS -->
		<div class="fixed -top-40 -left-40 w-[500px] h-[500px] bg-purple-600/20 rounded-full blur-3xl -z-30"></div>
		<div class="fixed bottom-0 right-0 w-[400px] h-[400px] bg-cyan-500/15 rounded-full blur-3xl -z-30"></div>

		<!-- PUNTOS -->
		<div class="fixed inset-0 dots-bg opacity-30 pointer-events-none z-20"></div>
		<Navbar />
		<main class="pt-20 z-20">
			<slot />
		</main>
	</body>

</html>

